{% extends "../shop/base.html" %}

{% block title %}Reset your password | Borrow{% endblock %}

{% block content %}
  <div class="col-lg-12">
    <h1>Reset your password</h1>
    <hr>
    {% if validlink %}
      <p>Please enter your new password twice:</p>
      <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Change my password</button>
      </form>
    {% else %}
      <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
  </div>
{% endblock %}
