{% extends "shop/base.html" %}

{% block title %}Log-in | Borrow{% endblock %}

{% block content %}
<div class="col-lg-12">
  <form action="." method="post" enctype="multipart/form-data">
    <h1>Add thing</h1>
    <hr>
    {% csrf_token %}
    {% for hidden in addProductForm.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in addProductForm %}
        {{ field }} <br />
    {% endfor %}

    {{ formset.management_form }}
    {% for form in formset %}
        {{ form }}
    {% endfor %}
    <button class="btn btn-primary " type="submit">Add</button>
  </form>
</div>
{% endblock %}
