{% extends "shop/base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <div id="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url "shop:product_list" %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></li>
      <li class="breadcrumb-item active">{{ product.name }}</li>
    </ol>
  </div>
  <div class="row">


    <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12">
      <div class="">
        <img class="card-img-top" src="
        {% if product.image %}
          {{ product.image.url }}
        {% else %}
          {% static "css/img/no_image.jpg" %}
        {% endif %}
        ">
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h2>{{ product.name }}</h2>
      <h5>
        <a class="badge badge-primary" href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>&nbsp
        {% if product.location %}
          <a class="badge badge-primary" href="{{ product.location.get_absolute_url }}">{{ product.location }}</a>
        {% else %}
          <a class="badge badge-primary" href="#">Iran</a>
        {% endif %}
      </h5>
      <p>
        <h5>
          <!-- <strike class="text-danger price">${{ product.price }}</strike>
          &nbsp;
          &nbsp; -->
          <span class="text-success price">${{ product.price }}</span>
        </h5>
      </p>
      <div class="health col-lg-3 col-md-4 col-sm-6 col-xs-6">
        <h6>Health</h6>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: {{ product.health }}%"  aria-valuemin="0" aria-valuemax="10">{{ product.health }}%</div>
        </div>
      </div>
      </br>
      {{ product.description|linebreaks }}
      {% if product.condition %}
        <div id=condition class="card border-danger text-muted text-center">
          <h6 class="card-header">Conditions</h6>
          <div class="card-body">
            <p class="card-text">{{ product.condition }}</p>
          </div>
        </div>
      {% endif %}
      </br>
      <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseButton" aria-expanded="false" aria-controls="collapseButton">
        Show owner's phone number
      </button>
      <div class="collapse" id="collapseButton">
        <div class="card card-body">
          {{ product.phone_number }}
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
