{% extends "shop/base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <div id="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url "shop:product_list" %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></li>
      <li class="breadcrumb-item active">{{ product.name }}</li>
    </ol>
  </div>
  <div class="row">


    <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12">
      {% if product.gallery_set.all %}
        {% for p in product.gallery_set.all %}
          <div class="">
            <a href="{{ p.image.url }}">
              <img class="card-img-top" src="
                {{ p.image.url }}
              ">
            </a>
          </div>
        {% endfor %}
      {% else %}
        <div class="">
          <img class="card-img-top" src="
            {% static "css/img/no_image.jpg" %}
          ">
        </div>
      {% endif %}
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h2>{{ product.name }}</h2>
      <h5>
        <a class="badge badge-primary" href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>
        {% if product.location %}
          <small>for rent in</small>
          <a class="badge badge-primary" href="{{ product.location.get_absolute_url }}">{{ product.location }}</a>
        {% else %}
          <a class="badge badge-primary" href="#">Iran</a>
        {% endif %}
      </h5>
      <p>
        <h5>
          <!-- <strike class="text-danger price">${{ product.price }}</strike>
          &nbsp;
          &nbsp; -->
          <!-- <span class="text-success price">${{ product.price }}</span> -->
        </h5>
      </p>
      <div class="health col-lg-12 col-md-4 col-sm-6 col-xs-6">
        <h6>Health</h6>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: {{ product.health }}%"  aria-valuemin="0" aria-valuemax="10">{{ product.health }}%</div>
        </div>
      </div>
      </br>
      {{ product.description|linebreaks }}
      {% if product.condition %}
        <div id=condition class="card border-danger text-muted text-center">
          <h6 class="card-header">Conditions</h6>
          <div class="card-body">
            <p class="card-text">{{ product.condition }}</p>
          </div>
        </div>
      {% endif %}
      </br>
      <ul class="list-group">
        {% if product.price_per_day %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <p>Price per <strong>day</strong></p>
          <span class="badge badge-primary badge-pill">${{ product.price_per_day }}</span>
        </li>
        {% endif %}
        {% if product.price_per_week %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <p>Price per <strong>week</strong></p>
          <span class="badge badge-primary badge-pill">${{ product.price_per_week }}</span>
        </li>
        {% endif %}
        {% if product.price_per_month %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <p>Price per <strong>month</strong></p>
          <span class="badge badge-primary badge-pill">${{ product.price_per_month }}</span>
        </li>
        {% endif %}
        {% if product.price_per_year %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <p>Price per <strong>year</strong></p>
          <span class="badge badge-primary badge-pill">${{ product.price_per_year }}</span>
        </li>
        {% endif %}
      </ul>
      </br>
      <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseButton" aria-expanded="false" aria-controls="collapseButton">
        Show owner's phone number
      </button>
      <div class="collapse" id="collapseButton">
        <div class="card card-body">
          {{ product.phone_number }}
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
