{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{% if category %}
  {{ category.name }} | Borrow
{% elif location %}
  {{ location.name }} | Borrow
{% else %}
  All | Borrow
{% endif %}
{% endblock %}

{% block jombotron %}
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Album example</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </section>
{% endblock %}

{% block map %}
      <div class="container">
        <div class="row">
          <div id="mapdiv" class="map_div col-lg-12 col-md-12 col-sm-12 col-xs-12 my-3"></div>
      </div>
    </div>
{% endblock %}

{% block content %}
  <div id="sidebar" class="col-lg-12 btn-group m-3 p-1 border border-secondary rounded d-flex">
    <div class="dropdown show">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Categories
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="{% url "shop:product_list" %}">All</a>
        {% for c in categories %}
          <a href="{{ c.get_absolute_url }}" class="dropdown-item">{{ c.name }}</a>
        {% endfor %}
      </div>
    </div>
    &nbsp;
    <div class="dropdown show">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Locations
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="{% url "shop:product_list" %}">Iran</a>
        {% for l in locations %}
          <a href="{{ l.get_absolute_url }}" class="dropdown-item">{{ l.name }}</a>
        {% endfor %}
      </div>
    </div>
    &nbsp;
    <form class="ml-auto" action="" method="GET">
      <div class="input-group ml-auto">
        <input class="form-control" type="text" name="q" placeholder="Search" aria-describedby="basic-addon1" value="{{ request.GET.q }}">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary" type="submit" aria-describedby="basic-addon2">Search</button>
        </div>
      </div>
    </form>
  </div>

  <div class="container-fluid">
    <h2>
      {% if category %}
        {{ category.name }}
      {% elif location %}
        {{ location.name }}
      {% else %}
        All
      {% endif %}
    </h2>
    <hr noshade>
    <div class="grid ">
      {% for product in products %}
      <div class="grid-item col-lg-3 col-md-4 col-sm-6 col-xs-12">

        {% if product.promoted %}
        <div class="card bg-primary mb-4 shadow-lg">
        {% else %}
        <div class="card mb-4 shadow-sm">
        {% endif %}
          <a href="{{ product.get_absolute_url }}">
            <img class="card-img-top" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "css/img/no_image.jpg" %}{% endif %}">
          </a>
          <div class="card-body">
            {% if product.promoted %}
            <a class="text-white card-link" href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
            {% else %}
             <a class="card-link" href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
            {% endif %}

           <div class="d-flex justify-content-between align-items-center pt-3">
             <div class="btn-group">
               <!-- <button type="button" class="btn btn-sm btn-danger">{{ product.urgent_situation }}</button> -->
               <!-- {% if product.promoted %}
                 <small class="badge badge-danger">Promoted</small>
               {% endif %} -->

             </div>
             <small class="text-muted">From ${{ product.price_per_day }}</small>
           </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- <div class="col-lg-4 pagination">
    <span class="step-links">
      {% if products.has_previous %}
        <a class="btn btn-outline-primary" href="?page={{ products.previous_page_number }}&q={{ request.GET.q }}">Previous</a>
      {% else %}
        <a class="btn btn-outline-secondary disabled">Previous</a>
      {% endif %}
      <span class="current">
        Page {{ products.number }} of {{ products.paginator.num_pages }}.
      </span>
      {% if products.has_next %}
        <a class="btn btn-outline-primary" href="?page={{ products.next_page_number }}&q={{ request.GET.q }}">Next</a>
      {% else %}
        <a class="btn btn-outline-secondary disabled">Next</a>
      {% endif %}
    </span>
  </div> -->
{% endblock %}
